* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  font-family: 'Inconsolata', monospace;
  margin: 0 1em;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #fefefe;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 2em;
}

h2 {
  margin-bottom: 2em;
}

.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.links li {
  flex-shrink: 0;
}

.links li:not(:last-child):after {
  content: '| ';
  white-space: pre;
}

a {
  color: #66f;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }
